<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>

<h1>Strona pracownika</h1>

<h2>

    <a href="/products/showproducts">Wyświetl produkty </a> </br> </br>

    <a href="/products/addproduct">Dodaj nowy produkt </a> </br> </br>

    <a href="/products/showcategories">Wyświetl kategorie </a> </br> </br>

    <a href="/products/addcategory">Dodaj nową kategorie </a> </br> </br>

    <a href="/employee/inventory">Sprawdz stany magazynowe produktów </a> </br> </br>

    <a href="/">Powrót do strony głównej </a> </br> </br>




</h2>

</body>
</html>