<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" th:href="@{/css/nav_footer.css}">
    <link rel="stylesheet" href="../../static/css/nav_footer.css">

    <link rel="stylesheet" th:href="@{/css/productsStyles.css}">
    <link rel="stylesheet" href="../../static/css/productsStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Szczegóły produktu: ' + ${produkt.getNazwa()}">Szczegóły produktu</title>
</head>
<body>

<!-- Pasek nawigacji -->
<nav>
    <div class="nav_img">
        <img src="https://i.imgur.com/n0dADst.png" alt="Logo">
    </div>

    <div class="nav_links">
        <div class="nav_box"><a href="/kategoria/Smartphony">Smartphony</a></div>
        <div class="nav_box"><a href="/kategoria/Laptopy">Laptopy</a></div>
        <div class="nav_box"><a href="/kategoria/Podzespoły">Podzespoły komputerowe</a></div>
        <div class="nav_box"><a href="/kategoria/Zasilacze">Zasilacze</a></div>
        <div class="nav_box"><a href="/kategoria/TV">TV</a></div>
        <div class="nav_box dropdown">
            <a href="/kategoria">Kategorie produktów</a>
            <div class="dropdown-content">
                <a href="/kategoria/Drukarki">Drukarki</a>
                <a href="/kategoria/Programy">Programy</a>
                <a href="/kategoria">Wszystkie kategorie</a>
            </div>
        </div>
    </div>

    <!-- Formularz wyszukiwania -->
    <form action="/products/search" method="get" class="search-form">
        <input type="text" name="query" placeholder="Wyszukaj produkt..." required>
        <button type="submit">Szukaj</button>
    </form>

    <div class="nav_right">
        <a href="/koszyk" class="cart_icon">
            🛒 <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
        </a>

        <div class="nav_auth" sec:authorize="isAnonymous()">
            <a href="/konto/logowanie" class="nav_login">Logowanie</a>
        </div>

        <div class="nav_user" sec:authorize="isAuthenticated()">
            <div class="user_dropdown">
                <span class="user_name">Cześć, <span sec:authentication="name"></span> ▼</span>
                <div class="dropdown_content">
                    <a href="/koszyk" class="cart_icon2">
                        koszyk: <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
                    </a>
                    <a href="/konto/details">Twoje konto</a>
                    <a href="/konto/zamowienia">Zamówienia</a>
                    <a href="/zwroty-reklamacje">Zwroty i reklamacje</a>
                    <a href="/opinie">Opinie</a>
                    <a href="/products" sec:authorize="hasAnyRole('EMPLOYEE','ADMIN')">Panel pracownika</a>
                    <a href="/admin" sec:authorize="hasAnyRole('ADMIN')">Panel admina</a>
                    <a href="/konto/wyloguj">Wyloguj się</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<main>
    <div class="produkt">
        <h1 th:text="${produkt.getNazwa()}">Nazwa produktu</h1>
        <div class="produkt_TextImg">
            <div class="produkt_img">
                <img th:if="${zdjecieBase64 != null}" th:src="@{'data:image/png;base64,' + zdjecieBase64}" alt="Zdjęcie produktu">
                <img th:if="${produkt.zdjecieUrl != null}" th:src="${produkt.zdjecieUrl}" alt="Zdjęcie produktu"
                     style="max-width:500px; max-height:500px; width:auto; height:auto; display:block; margin:auto;">
            </div>

            <div class="produkt_opis">
                <p><strong>Opis:</strong> </p><p><span th:text="${produkt.opis}">Opis produktu</span></p>
            </div>

            <div class="produkt_text">

                <p><strong>Marka:</strong> <span th:text="${produkt.marka}">Marka produktu</span></p>
                <p><strong>Ilość w magazynie:</strong> <span th:text="${produkt.stanMagazynowy}">0</span></p>
                <p><strong>Cena:</strong> <span th:text="${produkt.cena}">0.00</span> zł</p>

                <form th:action="@{'/koszyk/dodaj/' + ${produkt.produktID}}" method="post">
                    <button type="submit" class="btn_addToCart">Dodaj do koszyka</button>
                </form>

            </div>
        </div>
        <a href="/kategoria">Powrót do kategorii</a>

    </div>



    <div class="recommended">
        <h2>Polecane produkty: </h2>
    </div>
    <div class="recomended_items">
        <th:block th:if="${#lists.isEmpty(polecaneProdukty)}">
            <p>Brak polecanych produktów</p>
        </th:block>
        <div class="recomended_item" th:each="produkt : ${polecaneProdukty}">
            <div class="recomended_item_img">
                <img th:if="${produkt.zdjecieUrl != null}" th:src="@{${produkt.zdjecieUrl}}" alt="Produkt" style="width: 100%; height: 100%; object-fit: cover;" />
            </div>
            <div class="recomended_item_name" th:text="${produkt.nazwa}"></div>
            <div class="recomended_item_price" th:text="${produkt.cena + ' zł'}"></div>
        </div>
    </div>




    <div class="recenzje_box">
        <h2>Recenzje:</h2>
        <div th:if="${#lists.isEmpty(produkt.recenzje)}">
            <p>Brak recenzji dla tego produktu.</p>
        </div>

        <div  th:if="${!#lists.isEmpty(produkt.recenzje)}">
            <div class="recenzje" th:each="recenzja : ${produkt.recenzje}" th:if="${recenzja.status== 'ZAAKCEPTOWANA'}">
                <div class="recenzja">
                    <strong>Użytkownik:</strong> <p class="dane" th:text="${recenzja.getKlient().getImie()}"></p>
                    <strong>Ocena:</strong> <p class="dane" th:text="${recenzja.getOcena() + ' / 5'}"></p>
                    <strong>Data:</strong> <p class="dane" th:text="${#dates.format(recenzja.getDataDodania(), 'dd-MM-yyyy')}"></p>
                    <strong>Treść:</strong> <p class="dane" th:text="${recenzja.getTresc()}"></p>
                </div>

            </div>
        </div>
    </div>
</main>
<!-- Stopka -->
<footer>
    <div class="footer_logos"></div>
    <div class="footer_box">
        <h5>Zamówienia</h5>
        <h6>Dostawa i płatność</h6>
        <h6>Zwroty i reklamacje</h6>
    </div>
    <div class="footer_box">
        <h5>Promocje i inspiracje</h5>
        <h6>Wyprzedaż</h6>
        <h6>Promocje</h6>
    </div>
    <div class="footer_box">
        <h5>BEST_TECH</h5>
        <h6>O nas</h6>
        <h6>Regulamin</h6>
    </div>
</footer>
</body>
</html>