<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil admina</title>
</head>
<body>
<h1>Profil admina(zmiana danych osobowych ..</h1>
<p>Panel admina</p>
<p>Nawigacja</p>
<ul>
    <li>Zarządzanie kontami pracowników.</li>
    <li>Zarządzanie raportami. </li>
</ul>
<p>Ustawienia konta</p>
<form action="" method="post">
    <div class="zmien_dane">
        <button type="submit" id="zmien_dane">Zmień dane osobowe</button>
        <button type="submit" id="zmien_haslo">Zmień hasło</button>
    </div>
    <p>Twoje zamówienia </p>
    <div class="twoje_zamówienia">

        <button type="submit" id="lista_zamowien">Lista zamówień</button>
        <button type="submit" id="dodaj_usun_recencje">Dodaj/usuń recenzję</button>
        <button type="submit" id="zwrot/reklamacja">Zgłoś zwrot/reklamacje</button>
        <button type="submit" id="status_zamowień">Status zamówień</button>
        <div>
</body>
</html>