<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" th:href="@{/css/nav_footer.css}">
    <link rel="stylesheet" href="../../static/css/nav_footer.css">

    <link rel="stylesheet" th:href="@{/css/adminStyles.css}">
    <link rel="stylesheet" href="../../static/css/adminStyles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usun pracownika</title>
</head>
<body>
        <!-- Pasek nawigacji -->
        <nav>
            <div class="nav_img"></div>
        
            <div class="nav_links">
        
                <div class="nav_box"><a href="/kategoria/Smartphony">Smartphony</a></div>
                <div class="nav_box"><a href="/kategoria/Laptopy">Laptopy</a></div>
                <div class="nav_box"><a href="/kategoria/Podzespoły">Podzespoły komputerowe</a></div>
                <div class="nav_box"><a href="/kategoria/Zasilacze">Zasilacze</a></div>
                <div class="nav_box"><a href="/kategoria/TV">TV</a></div>
                <div class="nav_box dropdown">
                    <a href="/kategoria">Kategorie produktów</a>
                    <div class="dropdown-content">
                        <a href="/kategoria/Smartphony">Smartphony</a>
                        <a href="/kategoria/Laptopy">Laptopy</a>
                        <a href="/kategoria/Podzespoły">Podzespoły komputerowe</a>
                        <a href="/kategoria/Zasilacze">Zasilacze</a>
                        <a href="/kategoria/TV">TV</a>
                        <a href="/kategoria">Wszystkie kategorie</a>
                    </div>
                </div>
            </div>
        
            <div class="nav_right">
                <div class="nav_box" sec:authorize="hasAnyRole('EMPLOYEE','ADMIN')">
                    <a href="/products">Panel pracownika</a>
                </div>
                <div class="nav_box" sec:authorize="hasAnyRole('ADMIN')">
                    <a href="/admin">Panel admina</a>
                </div>
        
                <a href="/koszyk" class="cart_icon">
                    🛒 <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
                </a>
        
                <div class="nav_auth" sec:authorize="isAnonymous()">
                    <a href="/konto/logowanie" class="nav_login">Logowanie</a>
                    <a href="/konto/rejestracja" class="nav_register">Rejestracja</a>
                </div>
        
                <div class="nav_user" sec:authorize="isAuthenticated()">
                    <div class="user_dropdown">
                        <span class="user_name">Cześć, <span sec:authentication="name"></span> ▼</span>
                        <div class="dropdown_content">
                            <a href="#">Twoje konto</a>
                            <a href="/konto/zamowienia">Zamówienia</a>
                            <a href="#">Zwroty i reklamacje</a>
                            <a href="/opinie">Opinie</a>
                            <a href="/konto/wyloguj">Wyloguj się</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    
  <main>

<h1>Usun pracownika</h1>


<!-- <table border="1" cellspacing="0" cellpadding="8">
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Rola</th>
        <th>Usun</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${employees}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
        </td>
        <td>
            <form method="post" action="/admin/deleteemployee">
                <input type="hidden" name="userId" th:value="${user.id}"/> -->
<!--                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
                <!-- <button type="submit">Usun</button>
            </form>
        </td>
    </tr>
    </tbody>
</table> -->


    

    <div class="lista2">
        <div class="product" th:each="user : ${employees}">
            <div class="allText">
                <strong>ID:</strong>
                <span th:utext="${user.id}">1</span>
            </div>
            <div class="allText">
                <strong>Email:</strong><br>
                <span th:utext="${user.email}">email@example.com</span>
            </div>
            <div class="allText">
                <strong>Role:</strong><br>
                <span th:each="role : ${user.roles}" th:utext="${role.name} + '</br>'">Rola</span>
            </div>
            <div class="buttonsCategory">
                <form method="post" action="/admin/deleteemployee">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
    <!--                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
                    <button type="submit">Usun</button>
                </form>
            </div>
        </div>
    </div>
    <a href="/admin/manageemployess">Powrot</a>
</main>
<!-- Stopka -->
<footer>
    <div class="footer_logos"></div>
    <div class="footer_box">
        <h5>Zamówienia</h5>
        <h6>Dostawa i płatność</h6>
        <h6>Zwroty i reklamacje</h6>
    </div>
    <div class="footer_box">
        <h5>Promocje i inspiracje</h5>
        <h6>Wyprzedaż</h6>
        <h6>Promocje</h6>
    </div>
    <div class="footer_box">
        <h5>BEST_TECH</h5>
        <h6>O nas</h6>
        <h6>Regulamin</h6>
    </div>
</footer>
</body>
</html>