<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista pracowników</title>
</head>
<body>
<strong><p>Nawigacja</p></strong>

    <p>Zarzadzanie pracownikami </p>
    <div class="pracownik">

        <button type="submit" id="lista_zamowien">Lista zamówień</button>
        <a href="/admin/deleteemployee">
            <button type="button" id="usun_konto_pracownika">Usun konto pracownika</button>
        </a>
        <button type="submit" id="edytuj_dane_pracownika">Edytuj dane pracownika</button>

        </div>

        <a href="/">Powrot do strony glownej</a>
</body>
</html>