<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" th:href="@{/css/nav_footer.css}">
    <link rel="stylesheet" href="../../static/css/nav_footer.css">

    <link rel="stylesheet" th:href="@{/css/adminStyles.css}">
    <link rel="stylesheet" href="../../static/css/adminStyles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista pracowników</title>
</head>
<body>
    <!-- Pasek nawigacji -->
    <nav>
        <div class="nav_img"></div>
    
        <div class="nav_links">
    
            <div class="nav_box"><a href="/kategoria/Smartphony">Smartphony</a></div>
            <div class="nav_box"><a href="/kategoria/Laptopy">Laptopy</a></div>
            <div class="nav_box"><a href="/kategoria/Podzespoły">Podzespoły komputerowe</a></div>
            <div class="nav_box"><a href="/kategoria/Zasilacze">Zasilacze</a></div>
            <div class="nav_box"><a href="/kategoria/TV">TV</a></div>
            <div class="nav_box dropdown">
                <a href="/kategoria">Kategorie produktów</a>
                <div class="dropdown-content">
                    <a href="#">Drukarki</a>
                    <a href="#">Programy</a>
                    <a href="/kategoria">Wszystkie kategorie</a>
                </div>
            </div>
            <div class="nav_box2 dropdown2">
                <a href="/kategoria">Kategorie produktów</a>
            <div class="dropdown-content">
                    <a href="/kategoria/Smartphony">Smartphony</a>
                    <a href="/kategoria/Laptopy">Laptopy</a>
                    <a href="/kategoria/Podzespoły">Podzespoły komputerowe</a>
                    <a href="/kategoria/Zasilacze">Zasilacze</a>
                    <a href="/kategoria/TV">TV</a>
                    <a href="#">Drukarki</a>
                    <a href="#">Programy</a>
                    <a href="/kategoria">Wszystkie kategorie</a>
            </div>
        </div>
    
            </div>
        </div>
    
        <div class="nav_right">
            <a href="/koszyk" class="cart_icon">
                🛒 <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
            </a>
    
            <div class="nav_auth" sec:authorize="isAnonymous()">
                <a href="/konto/logowanie" class="nav_login">Logowanie</a>
                <!-- <a href="/konto/rejestracja" class="nav_register">Rejestracja</a> -->
            </div>
    
            <div class="nav_user" sec:authorize="isAuthenticated()">
                <div class="user_dropdown">
                    <span class="user_name">Cześć, <span sec:authentication="name"></span> ▼</span>
                    <div class="dropdown_content">
                        <a href="/koszyk" class="cart_icon2">
                            koszyk: <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
                        </a>
                        <a href="/konto/zmien-haslo">Twoje konto (zmiana hasla)</a>
                        <a href="/konto/zamowienia">Zamówienia</a>
                        <a href="/zwroty-reklamacje">Zwroty i reklamacje</a>
                        <a href="/opinie">Opinie</a>
                        <a href="/products" sec:authorize="hasAnyRole('EMPLOYEE','ADMIN')">Panel pracownika</a>
                        <a href="/admin" sec:authorize="hasAnyRole('ADMIN')">Panel admina</a>
                        <a href="/konto/wyloguj">Wyloguj się</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    
    <main>
<strong><p>Nawigacja</p></strong>

    <p>Zarzadzanie pracownikami </p>
    <div class="pracownik">
        <a href="">Lista zamówień</a>
        <a href="/admin/deleteemployee">Usun konto pracownika </a>
        <a href="">Edytuj dane pracownika</a>

        
        </div>
        <a class="btnBack" href="/">Powrot do strony glownej</a>
        
    </main>

    <!-- Stopka -->
    <footer>
        <div class="footer_logos"></div>
        <div class="footer_box">
            <h5>Zamówienia</h5>
            <h6>Dostawa i płatność</h6>
            <h6>Zwroty i reklamacje</h6>
        </div>
        <div class="footer_box">
            <h5>Promocje i inspiracje</h5>
            <h6>Wyprzedaż</h6>
            <h6>Promocje</h6>
        </div>
        <div class="footer_box">
            <h5>BEST_TECH</h5>
            <h6>O nas</h6>
            <h6>Regulamin</h6>
        </div>
    </footer>
</body>
</html>