<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/logsStyles.css}">
<link rel="stylesheet" th:href="@{/css/nav_footer.css}">
<link rel="stylesheet" href="../../static/css/nav_footer.css">
<link rel="stylesheet" href="../../static/css/logsStyles.css">
<head>
    <meta charset="UTF-8">
    <title>Logi systemowe</title>
</head>
<body>
<!-- Pasek nawigacji -->
<nav>
    <div class="nav_img">
        <img src="https://i.imgur.com/n0dADst.png" alt="Logo">
    </div>

    <div class="nav_links">
        <div class="nav_box"><a href="/kategoria/Smartphony">Smartphony</a></div>
        <div class="nav_box"><a href="/kategoria/Laptopy">Laptopy</a></div>
        <div class="nav_box"><a href="/kategoria/Podzespoły">Podzespoły komputerowe</a></div>
        <div class="nav_box"><a href="/kategoria/Zasilacze">Zasilacze</a></div>
        <div class="nav_box"><a href="/kategoria/TV">TV</a></div>
        <div class="nav_box dropdown">
            <a href="/kategoria">Kategorie produktów</a>
            <div class="dropdown-content">
                <a href="/kategoria/Drukarki">Drukarki</a>
                <a href="/kategoria/Programy">Programy</a>
                <a href="/kategoria">Wszystkie kategorie</a>
            </div>
        </div>
    </div>

    <!-- Formularz wyszukiwania -->
    <form action="/products/search" method="get" class="search-form">
        <input type="text" name="query" placeholder="Wyszukaj produkt..." required>
        <button type="submit">Szukaj</button>
    </form>

    <div class="nav_right">
        <a href="/koszyk" class="cart_icon">
            🛒 <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
        </a>

        <div class="nav_auth" sec:authorize="isAnonymous()">
            <a href="/konto/logowanie" class="nav_login">Logowanie</a>
        </div>

        <div class="nav_user" sec:authorize="isAuthenticated()">
            <div class="user_dropdown">
                <span class="user_name">Cześć, <span sec:authentication="name"></span> ▼</span>
                <div class="dropdown_content">
                    <a href="/koszyk" class="cart_icon2">
                        koszyk: <span th:if="${koszykIlosc > 0}" th:text="${koszykIlosc}">0</span>
                    </a>
                    <a href="/konto/details">Twoje konto</a>
                    <a href="/konto/zamowienia">Zamówienia</a>
                    <a href="/zwroty-reklamacje">Zwroty i reklamacje</a>
                    <a href="/opinie">Opinie</a>
                    <a href="/products" sec:authorize="hasAnyRole('EMPLOYEE','ADMIN')">Panel pracownika</a>
                    <a href="/admin" sec:authorize="hasAnyRole('ADMIN')">Panel admina</a>
                    <a href="/konto/wyloguj">Wyloguj się</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <h2 class="title">Logi systemowe</h2>

        <table class="log-table">
            <tr>
                <th>Data</th><br>
                <th>Poziom</th><br>
                <th>Akcja</th><br>
                <th>Uzytkownik</th>
            </tr>
            <tr th:each="log : ${logs}">
                <td th:text="${log.timestamp}">2025-01-01</td>
                <td th:text="${log.level}"></td>
                <td th:text="${log.action}">Przykładowa akcja</td>
                <td th:text="${log.username}">admin@example.com</td>
            </tr>

            </tr>


        </table>
    </div>
</main>
<!-- Stopka -->
<footer>
    <div class="footer_logos"></div>
    <div class="footer_box">
        <h5>Zamówienia</h5>
        <h6>Dostawa i płatność</h6>
        <h6>Zwroty i reklamacje</h6>
    </div>
    <div class="footer_box">
        <h5>Promocje i inspiracje</h5>
        <h6>Wyprzedaż</h6>
        <h6>Promocje</h6>
    </div>
    <div class="footer_box">
        <h5>BEST_TECH</h5>
        <h6>O nas</h6>
        <h6>Regulamin</h6>
    </div>
</footer>
</body>
</html>