<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../styles/kontoStyles.css">
    <meta charset="UTF-8">
    <style>/* czcionka */
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>

    <title>Logowanie</title>
</head>
<body>
    <div class="loginBody">
        <p>Okno logowania BEST-TECH</p>
        <form action="" method="post">
            <div class="login_email">
                <label for="">E-mail</label>
                <input type="text">
            </div>

            <div class="login_password">
                <label for="">Hasło</label>
                <input type="password">
            </div>

            

            <button type="submit" id="register">Zaloguj się!</button>
       
            <div class="login_statute">
                <a href="">Zapominmałeś hasła?</a>
        </div>
        </form>
        
    </div>
</body>
</html>