<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../styles/kontoStyles.css">
    <meta charset="UTF-8">
    <title>LOGOWANIE</title>
</head>
<body>
    Okno logowania BEST-TECH
    <form action="" method="post">
        <div class="login_email">
            <label for="">E-mail</label>
            <input type="text">
        </div>

        <div class="login_password">
            <label for="">Hasło</label>
            <input type="password">
        </div>

        <div class="login_statute">
            <input type="checkbox" name="" id="">
            <label for="">Akceptuje</label>
            <a href="">regulamin sklepu BEST-TECH</a>
        </div>

        <button type="submit">Zaloguj!</button>
    </form>

</body>
</html>