<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REJESTRACJA</title>
</head>
<body>
Okno rejestracji BEST-TECH
    <form action="" method="post">
         <div class="login_email">
             <label for="">E-mail</label>
             <input type="text">
    </div>

            <div class="login_password">
                <label for="">Hasło</label>
                <input type="password">
            </div>

        <button type"submit">Zarejestruj się!</button>

        <div class="login_statue">
            <input type="checkbox" name="" id="">
            <label for="">Akceptuje</label>
            <a href="">regulamin sklepu BEST-TECH!</a>
        </div>


</form>

</body>
</html>