<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<title>Resetuj hasło</title>

<div class="Resetuj hasło">

  <p>Resetuj hasło</p>

  <div class="e-mail">
    <label for="">e-mail</label>
    <input type="text">
  </div>

  <button type="submit" id="anuluj">Anuluj</button>
  <button type="submit" id="zmiana_haslo">Zresetuj Hasło!</button>



</body>
</html>