<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/mainStyles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>
    <title>BESTTECH - Strona Główna</title>
</head>
<body>

<div class="nav">
    <div class="nav_img"></div>
    <div class="nav_links">
        <div class="nav_box"><a href="/products">Produkty <!--(głównie dla pracownika teraz)  --> </a></div>
        <div class="nav_box"><a href="/kategoria">Kategorie produktów </a></div>
        <div class="nav_box"><a href="/admin">Panel admina </a></div>
        <div class="nav_box"><a href="/koszyk">Koszyk </a></div>
        <a href="/konto/logowanie" class="nav_login">Logowanie</a>
        <a href="/konto/rejestracja" class="nav_register">Rejestracja</a>
    </div>
</div>

<div class="add_Box">
    <div class="add_baner">
        <div class="add">REKLAMA</div>
    </div>
</div>

<div class="recommended">
    <h2>Polecane produkty: </h2>
</div>

<div class="recomended_items">
    <div class="recomended_item">
        <div class="recomended_item_img"></div>
        <div class="recomended_item_name">procesor <br> intel core x59</div>
        <div class="recomended_item_price">155 zł</div>
    </div>

    <div class="recomended_item">
        <div class="recomended_item_img"></div>
        <div class="recomended_item_name">procesor <br> intel core x59</div>
        <div class="recomended_item_price">155 zł</div>
    </div>

    <div class="recomended_item">
        <div class="recomended_item_img"></div>
        <div class="recomended_item_name">procesor <br> intel core x59</div>
        <div class="recomended_item_price">155 zł</div>
    </div>

    <div class="recomended_item">
        <div class="recomended_item_img"></div>
        <div class="recomended_item_name">procesor <br> intel core x59</div>
        <div class="recomended_item_price">155 zł</div>
    </div>

    <div class="recomended_item">
        <div class="recomended_item_img"></div>
        <div class="recomended_item_name">procesor <br> intel core x59</div>
        <div class="recomended_item_price">155 zł</div>
    </div>
</div>

<footer>
    <div class="footer_logos"></div>
    <div class="footer_box">
        <h5>Zamówienia</h5>
        <h6>Dostawa i płatność</h6>
        <h6>Zwroty i reklamacje</h6>
    </div>
    <div class="footer_box">
        <h5>Promocje i inspiracje</h5>
        <h6>Wyprzedaż</h6>
        <h6>Promocje</h6>
    </div>
    <div class="footer_box">
        <h5>BEST_TECH</h5>
        <h6>O nas</h6>
        <h6>Regulamin</h6>
    </div>
</footer>

</body>
</html>