<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie kategorie (ta strona jest dla użytkownika)</title>
</head>
<body>
    <h1>Przejdź do produktów dla kategorii:</h1>

    <ul>
        <li th:each="kategoria : ${kategorie}">
            <a th:href="@{/kategoria/{nazwa}(nazwa=${kategoria.nazwa})}" th:text="${kategoria.nazwa}"></a>
        </li>
    </ul>

    <a href="/">Powrót </a>

</body>
</html>