<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="'Produkty w kategorii: ' + ${nazwaKategorii}"></h1>
<ul>
    <li th:each="produkt : ${produkty}">
        <a th:href="@{'/product'(id=${produkt.getProduktID()}, nazwa=${produkt.getNazwa()})}"
           th:text="${produkt.nazwa}"></a>
    </li>
</ul>
<a href="/kategoria">Powrót do listy kategorii</a>

</body>
</html>