<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recenzje</title>
</head>
<body>
        Opinie
<form action=""method="post">

    <div class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label for="star5">★</label>

        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4">★</label>

        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3">★</label>

        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2">★</label>

        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1">★</label>

    </div>

    <div class="Nazwa Produkt">
    <label for="">Nazwa</label>
    <label for="">Produkt A</label>

    </div>


    <div class="Data">
        <label for="">Data zakupu</label>
        <label for="">10.01.2025 </label>

    </div>


    <div class="Informacje opini innych">
        <label for="">Zobacz opinie innych użytkowników</label>


    </div>

    <div class="Opinia">
        <label for="">Tu wpisz swój komentarz</label>


    </div>

    <button type="submit">Dodaj opinie</button>
    <button type="submit">Dodaj opinie do innego zamówienia </button>
    <button type="submit">Usuń opinie</button>

</form>
    
</body>
</html>