body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.loginBody > form  {
    border-radius: 10px;
    border: 1px solid rgba(6, 6, 6, 0.221);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.loginBody > p  {
    margin-bottom: 20px;
    font-size: 20px;
}


.loginBody {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_email, .login_password, .login_statute_text {
    display: flex;
    flex-direction:column;
    margin: 5px;
}

.login_email > input, .login_password > input{
    border-radius: 5px;
    border: 1px solid rgba(6, 6, 6, 0.221);
    height: 20px;
    margin: 10px 0px;
    padding: 10px;
    min-width: 300px;
}
.login_statute {
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
}
.login_statute > input{
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.login_statute_text > a{
    text-decoration: none;
}

#register, #login{
    background-color: rgb(36, 36, 36);
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0px;
    cursor: pointer;
}

#backButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #888;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}


/* changepassword */

.changepassword_H2{
    margin: 50px 0px;
}