<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Profil uzytkownika</title>
</head>
<body>
<h1>Profil uzytkownika(zmiana danych osobowych, email, hasła ..</h1>
<p>Twoje konto</p>
<form action="" method="post">
    <div class="konta">
    <input type="text" id="imie="imie">
    <input type="text" id="nazwisko" name="nazwisko">
    <input type="text" id="e-mail" name="e-mail">
    <input type="text" id="haslo" name="hasło">
    <button type="submit">Zmień hasło </button>
   <div>
       <div class="adres">
           <input type="text" id="kraj="Kraj">
           <input type="text" id="ulica" name="ulica">
           <input type="text" id="numer_mieszkania" name="numer mieszkania">
           <input type="text" id="kod_pocztowy" name="kod pocztowy">
           <input type="text" id="miejscowosc" name="miejscowość">
           <div>

           <div class="przyciski">
           <button type="submit">Zapisz zmiany </button>
           <button type="submit">Anuluj </button>

           <div>

</form>
</body>
</html>