<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<title>Tworzenie Produktu</title>


<div class="Produkt">
    <p>Tworzenie Produktu</p>
    <form action="" method="post">
        <div class="nazwa">
            <label for="">Nazwa</label>
            <input type="text">
        </div>

        <div class="cena">
            <label for="">Cena</label>
            <input type="text">
        </div>

        <div class="opis">
            <label for="">Opis</label>
            <input type="text">
        </div>
        <div class="kat">
            <label for="">Kat.produktu</label>
            <input type="text">
        </div>
        <div class="Zdjecie">
            <label for="">Zdjecie</label>
            <button type="submit" id="dodaj_plik">Dodaj plik</button>
        </div>
        <div class="Specifikacja">
        <label for="">Specifikacja</label>
        <input type="text">
    </div>

        <button type="submit" id="dodaj">Dodaj</button>


</body>
</html>