<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Profil pracownika</title>
</head>
<body>
<h1>Profil pracownika(zmiana danych osobowych..</h1>

<p>Panel Pracownika Dział zamówień- BEST-TECH</p>
<p>Nawigacja</p>
<ul>
    <li>Dodaj,usuń lub zaktualizuj dane klientów.</li>
    <li>Usuń lub edytuj recenzje w celu zapewnienia jakości.</li>
    <li>Przegładaj i aktualizuj statsu zamówień klientów.</li>
    <li>Dodaoj, usuń lub zmodyfikuj informacje o  produktach. </li>
</ul>

<p>Zadania do wykonania:</p>


<p>Zarzadzanie kontami klientów</p>
<form action="" method="post">
    <div class="konta">
        <button type="submit" id="dodaj_konto">Dodaj nowe konto</button>
        <button type="submit" id="usun_konto">Usuń konto</button>
        <button type="submit" id="zaktualizuj_dane">Zaktualizuj dane</button>
    </div>
    <p>Modelowanie recenzji produktów </p>
    <div class="zamowienia">

        <button type="submit" id="wyswietl_zamowienia">Wyswietl zamówienia</button>
        <button type="submit" id="zaktualizuj_status">Zaktualizuj status</button>

        <div>
            <p>Utrzymywanie stanów magazynowych </p>
            <div class="magazyn">

                <button type="submit" id="dodaj_produkt">Dodaj produkt</button>
                <button type="submit" id="usun_produkt">Usuń produkt </button>
                <button type="submit" id="edytuj_produkt">Edytuj produkt</button>

                <div>
</body>
</html>